openapi: 3.0.3
info:
  title: NBA GraphQL
  description: >-
    Welcome to the NBA GraphQL API documentation! The NBA GraphQL API is your
    one-stop solution to fetch detailed and advanced statistics related o NBA
    players. Be it aggregated statistics or deeper, more insightful metrics, the
    NBA GraphQL API has got you covered.


    With our robust and flexible API, you can filter and order results according
    to various  

    criteria such as player name, team, season, and position. Are you interested
    in LeBron James's overall performance, Kobe Bryant's advanced stats, or
    simply want to sort players by their total rebounds? All of this and much
    more is available through our simple yet powerful GraphQL interface.


    Our API features two primary endpoints: `playerTotalsAll`, which provides
    aggregated statistics for players, and `playerAdvancedAll` , which delves
    into deeper, more insightful statistics for analytical purposes. Each of
    these endpoints can be tailored with various filters and ordering functions
    to suit your specific requirements.


    This documentation aims to help you understand each aspect of the NBA
    GraphQL API, from basic operation principles to detailed explanations of
    different queries and fields. Read through detailed usage examples,
    understand each endpoint and its respective functionality, and let's start
    unraveling the vast field of NBA player statistics one query at a time.


    To get started, head over to our GraphiQL interface for real-time
    interaction with our API and explanatory schema documentation at
    [https://www.nbaapi.com/graphql/](https://www.nbaapi.com/graphql/).


    Make use of this comprehensive resource to unlock the potential of the NBA
    GraphQL API and fetch statistics that are crucial to your projects. Happy
    querying!
  version: 1.0.0
  contact: {}
servers:
  - url: https://www.nbaapi.com
paths:
  /graphql/:
    get:
      summary: Season - Advanced Data
      description: Season - Advanced Data
      operationId: seasonAdvancedData
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
            example:
              query: "query TEAM_GSW {\r\n  team(teamAbbr: \"GSW\", ordering: \"-wins\") {\r\n    season\r\n    teamName\r\n    teamAbbr\r\n    topWs\r\n    wins\r\n    playoffs\r\n  }\r\n}"
      responses:
        '200':
          description: >-
            Advanced Stats - Season - Michael Jordan / Advanced Stats - Season -
            Houston Rockets / Name = Russell Westbrook / Season - 2019 / Player
            - Allen Iverson / Team - BOS / Position - PG / Season - 2006 / Name
            - Damian Lillard / Team - GSW / Team Abbreviation - MIA / Team
            Abbreviation - GSW
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '9862'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Thu, 21 Mar 2024 04:52:14 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: nginx/1.22.1
            Set-Cookie:
              schema:
                type: string
                example: >-
                  csrftoken=5lK7CIbGNVHizmme7opusUI7ysHacTbV; expires=Thu, 20
                  Mar 2025 04:52:14 GMT; Max-Age=31449600; Path=/; SameSite=Lax
            Vary:
              schema:
                type: string
                example: Cookie, origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      playerAdvanced:
                        type: array
                        items:
                          type: object
                          properties:
                            age:
                              type: number
                              example: 39
                            assistPercent:
                              type: string
                              example: '21.100'
                            blockPercent:
                              type: string
                              example: '1.000'
                            box:
                              type: string
                              example: '1.7'
                            defensiveBox:
                              type: string
                              example: '0.0'
                            defensiveRbPercent:
                              type: string
                              example: '16.700'
                            defensiveWs:
                              type: string
                              example: '3.4'
                            ftr:
                              type: string
                              example: '0.212'
                            games:
                              type: number
                              example: 82
                            id:
                              type: string
                              example: '12642'
                            minutesPlayed:
                              type: number
                              example: 3031
                            offensiveBox:
                              type: string
                              example: '1.8'
                            offensiveRbPercent:
                              type: string
                              example: '2.800'
                            offensiveWs:
                              type: string
                              example: '2.9'
                            per:
                              type: string
                              example: '19.3'
                            playerId:
                              type: string
                              example: jordami01
                            playerName:
                              type: string
                              example: Michael Jordan*
                            position:
                              type: string
                              example: SF
                            season:
                              type: number
                              example: 2003
                            stealPercent:
                              type: string
                              example: '2.200'
                            team:
                              type: string
                              example: WAS
                            threePAr:
                              type: string
                              example: '0.036'
                            totalRbPercent:
                              type: string
                              example: '9.700'
                            tsPercent:
                              type: string
                              example: '0.491'
                            turnoverPercent:
                              type: string
                              example: '9.400'
                            usagePercent:
                              type: string
                              example: '28.700'
                            vorp:
                              type: string
                              example: '2.8'
                            winShares:
                              type: string
                              example: '6.2'
                            winSharesPer:
                              type: string
                              example: '0.099'
                        example:
                          - age: 39
                            assistPercent: '21.100'
                            blockPercent: '1.000'
                            box: '1.7'
                            defensiveBox: '0.0'
                            defensiveRbPercent: '16.700'
                            defensiveWs: '3.4'
                            ftr: '0.212'
                            games: 82
                            id: '12642'
                            minutesPlayed: 3031
                            offensiveBox: '1.8'
                            offensiveRbPercent: '2.800'
                            offensiveWs: '2.9'
                            per: '19.3'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SF
                            season: 2003
                            stealPercent: '2.200'
                            team: WAS
                            threePAr: '0.036'
                            totalRbPercent: '9.700'
                            tsPercent: '0.491'
                            turnoverPercent: '9.400'
                            usagePercent: '28.700'
                            vorp: '2.8'
                            winShares: '6.2'
                            winSharesPer: '0.099'
                          - age: 38
                            assistPercent: '30.800'
                            blockPercent: '0.900'
                            box: '3.1'
                            defensiveBox: '-0.1'
                            defensiveRbPercent: '16.200'
                            defensiveWs: '2.1'
                            ftr: '0.252'
                            games: 60
                            id: '13137'
                            minutesPlayed: 2093
                            offensiveBox: '3.2'
                            offensiveRbPercent: '2.700'
                            offensiveWs: '1.2'
                            per: '20.7'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SF
                            season: 2002
                            stealPercent: '2.200'
                            team: WAS
                            threePAr: '0.040'
                            totalRbPercent: '9.400'
                            tsPercent: '0.468'
                            turnoverPercent: '9.900'
                            usagePercent: '36.000'
                            vorp: '2.7'
                            winShares: '3.3'
                            winSharesPer: '0.075'
                          - age: 34
                            assistPercent: '18.000'
                            blockPercent: '1.000'
                            box: '6.9'
                            defensiveBox: '1.0'
                            defensiveRbPercent: '12.500'
                            defensiveWs: '5.4'
                            ftr: '0.381'
                            games: 82
                            id: '15171'
                            minutesPlayed: 3181
                            offensiveBox: '5.9'
                            offensiveRbPercent: '4.700'
                            offensiveWs: '10.4'
                            per: '25.2'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1998
                            stealPercent: '2.400'
                            team: CHI
                            threePAr: '0.067'
                            totalRbPercent: '8.500'
                            tsPercent: '0.533'
                            turnoverPercent: '7.700'
                            usagePercent: '33.700'
                            vorp: '7.1'
                            winShares: '15.8'
                            winSharesPer: '0.238'
                          - age: 33
                            assistPercent: '21.200'
                            blockPercent: '1.100'
                            box: '8.9'
                            defensiveBox: '1.1'
                            defensiveRbPercent: '13.200'
                            defensiveWs: '5.0'
                            ftr: '0.304'
                            games: 82
                            id: '15734'
                            minutesPlayed: 3106
                            offensiveBox: '7.8'
                            offensiveRbPercent: '4.200'
                            offensiveWs: '13.3'
                            per: '27.8'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1997
                            stealPercent: '2.400'
                            team: CHI
                            threePAr: '0.157'
                            totalRbPercent: '8.800'
                            tsPercent: '0.567'
                            turnoverPercent: '7.200'
                            usagePercent: '33.200'
                            vorp: '8.6'
                            winShares: '18.3'
                            winSharesPer: '0.283'
                          - age: 32
                            assistPercent: '21.200'
                            blockPercent: '1.000'
                            box: '10.5'
                            defensiveBox: '2.2'
                            defensiveRbPercent: '14.900'
                            defensiveWs: '6.2'
                            ftr: '0.355'
                            games: 82
                            id: '16287'
                            minutesPlayed: 3090
                            offensiveBox: '8.3'
                            offensiveRbPercent: '5.600'
                            offensiveWs: '14.2'
                            per: '29.4'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1996
                            stealPercent: '3.100'
                            team: CHI
                            threePAr: '0.141'
                            totalRbPercent: '10.200'
                            tsPercent: '0.582'
                            turnoverPercent: '8.400'
                            usagePercent: '33.300'
                            vorp: '9.8'
                            winShares: '20.4'
                            winSharesPer: '0.317'
                          - age: 31
                            assistPercent: '24.200'
                            blockPercent: '1.500'
                            box: '4.2'
                            defensiveBox: '0.6'
                            defensiveRbPercent: '16.200'
                            defensiveWs: '1.1'
                            ftr: '0.337'
                            games: 17
                            id: '16805'
                            minutesPlayed: 668
                            offensiveBox: '3.6'
                            offensiveRbPercent: '4.400'
                            offensiveWs: '1.2'
                            per: '22.1'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1995
                            stealPercent: '2.300'
                            team: CHI
                            threePAr: '0.079'
                            totalRbPercent: '10.300'
                            tsPercent: '0.493'
                            turnoverPercent: '7.000'
                            usagePercent: '33.200'
                            vorp: '1.1'
                            winShares: '2.3'
                            winSharesPer: '0.167'
                          - age: 29
                            assistPercent: '25.200'
                            blockPercent: '1.300'
                            box: '11.2'
                            defensiveBox: '2.6'
                            defensiveRbPercent: '15.100'
                            defensiveWs: '5.2'
                            ftr: '0.284'
                            games: 78
                            id: '17728'
                            minutesPlayed: 3067
                            offensiveBox: '8.7'
                            offensiveRbPercent: '4.900'
                            offensiveWs: '12.0'
                            per: '29.7'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1993
                            stealPercent: '3.700'
                            team: CHI
                            threePAr: '0.115'
                            totalRbPercent: '9.800'
                            tsPercent: '0.564'
                            turnoverPercent: '8.400'
                            usagePercent: '34.700'
                            vorp: '10.2'
                            winShares: '17.2'
                            winSharesPer: '0.270'
                      playerAdvancedAll:
                        type: array
                        items:
                          type: object
                          properties:
                            age:
                              type: number
                              example: 39
                            assistPercent:
                              type: string
                              example: '21.100'
                            blockPercent:
                              type: string
                              example: '1.000'
                            box:
                              type: string
                              example: '1.7'
                            defensiveBox:
                              type: string
                              example: '0.0'
                            defensiveRbPercent:
                              type: string
                              example: '16.700'
                            defensiveWs:
                              type: string
                              example: '3.4'
                            ftr:
                              type: string
                              example: '0.212'
                            games:
                              type: number
                              example: 82
                            id:
                              type: string
                              example: '12642'
                            minutesPlayed:
                              type: number
                              example: 3031
                            offensiveBox:
                              type: string
                              example: '1.8'
                            offensiveRbPercent:
                              type: string
                              example: '2.800'
                            offensiveWs:
                              type: string
                              example: '2.9'
                            per:
                              type: string
                              example: '19.3'
                            playerId:
                              type: string
                              example: jordami01
                            playerName:
                              type: string
                              example: Michael Jordan*
                            position:
                              type: string
                              example: SF
                            season:
                              type: number
                              example: 2003
                            stealPercent:
                              type: string
                              example: '2.200'
                            team:
                              type: string
                              example: WAS
                            threePAr:
                              type: string
                              example: '0.036'
                            totalRbPercent:
                              type: string
                              example: '9.700'
                            tsPercent:
                              type: string
                              example: '0.491'
                            turnoverPercent:
                              type: string
                              example: '9.400'
                            usagePercent:
                              type: string
                              example: '28.700'
                            vorp:
                              type: string
                              example: '2.8'
                            winShares:
                              type: string
                              example: '6.2'
                            winSharesPer:
                              type: string
                              example: '0.099'
                        example:
                          - age: 39
                            assistPercent: '21.100'
                            blockPercent: '1.000'
                            box: '1.7'
                            defensiveBox: '0.0'
                            defensiveRbPercent: '16.700'
                            defensiveWs: '3.4'
                            ftr: '0.212'
                            games: 82
                            id: '12642'
                            minutesPlayed: 3031
                            offensiveBox: '1.8'
                            offensiveRbPercent: '2.800'
                            offensiveWs: '2.9'
                            per: '19.3'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SF
                            season: 2003
                            stealPercent: '2.200'
                            team: WAS
                            threePAr: '0.036'
                            totalRbPercent: '9.700'
                            tsPercent: '0.491'
                            turnoverPercent: '9.400'
                            usagePercent: '28.700'
                            vorp: '2.8'
                            winShares: '6.2'
                            winSharesPer: '0.099'
                          - age: 38
                            assistPercent: '30.800'
                            blockPercent: '0.900'
                            box: '3.1'
                            defensiveBox: '-0.1'
                            defensiveRbPercent: '16.200'
                            defensiveWs: '2.1'
                            ftr: '0.252'
                            games: 60
                            id: '13137'
                            minutesPlayed: 2093
                            offensiveBox: '3.2'
                            offensiveRbPercent: '2.700'
                            offensiveWs: '1.2'
                            per: '20.7'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SF
                            season: 2002
                            stealPercent: '2.200'
                            team: WAS
                            threePAr: '0.040'
                            totalRbPercent: '9.400'
                            tsPercent: '0.468'
                            turnoverPercent: '9.900'
                            usagePercent: '36.000'
                            vorp: '2.7'
                            winShares: '3.3'
                            winSharesPer: '0.075'
                          - age: 34
                            assistPercent: '18.000'
                            blockPercent: '1.000'
                            box: '6.9'
                            defensiveBox: '1.0'
                            defensiveRbPercent: '12.500'
                            defensiveWs: '5.4'
                            ftr: '0.381'
                            games: 82
                            id: '15171'
                            minutesPlayed: 3181
                            offensiveBox: '5.9'
                            offensiveRbPercent: '4.700'
                            offensiveWs: '10.4'
                            per: '25.2'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1998
                            stealPercent: '2.400'
                            team: CHI
                            threePAr: '0.067'
                            totalRbPercent: '8.500'
                            tsPercent: '0.533'
                            turnoverPercent: '7.700'
                            usagePercent: '33.700'
                            vorp: '7.1'
                            winShares: '15.8'
                            winSharesPer: '0.238'
                          - age: 33
                            assistPercent: '21.200'
                            blockPercent: '1.100'
                            box: '8.9'
                            defensiveBox: '1.1'
                            defensiveRbPercent: '13.200'
                            defensiveWs: '5.0'
                            ftr: '0.304'
                            games: 82
                            id: '15734'
                            minutesPlayed: 3106
                            offensiveBox: '7.8'
                            offensiveRbPercent: '4.200'
                            offensiveWs: '13.3'
                            per: '27.8'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1997
                            stealPercent: '2.400'
                            team: CHI
                            threePAr: '0.157'
                            totalRbPercent: '8.800'
                            tsPercent: '0.567'
                            turnoverPercent: '7.200'
                            usagePercent: '33.200'
                            vorp: '8.6'
                            winShares: '18.3'
                            winSharesPer: '0.283'
                          - age: 32
                            assistPercent: '21.200'
                            blockPercent: '1.000'
                            box: '10.5'
                            defensiveBox: '2.2'
                            defensiveRbPercent: '14.900'
                            defensiveWs: '6.2'
                            ftr: '0.355'
                            games: 82
                            id: '16287'
                            minutesPlayed: 3090
                            offensiveBox: '8.3'
                            offensiveRbPercent: '5.600'
                            offensiveWs: '14.2'
                            per: '29.4'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1996
                            stealPercent: '3.100'
                            team: CHI
                            threePAr: '0.141'
                            totalRbPercent: '10.200'
                            tsPercent: '0.582'
                            turnoverPercent: '8.400'
                            usagePercent: '33.300'
                            vorp: '9.8'
                            winShares: '20.4'
                            winSharesPer: '0.317'
                          - age: 31
                            assistPercent: '24.200'
                            blockPercent: '1.500'
                            box: '4.2'
                            defensiveBox: '0.6'
                            defensiveRbPercent: '16.200'
                            defensiveWs: '1.1'
                            ftr: '0.337'
                            games: 17
                            id: '16805'
                            minutesPlayed: 668
                            offensiveBox: '3.6'
                            offensiveRbPercent: '4.400'
                            offensiveWs: '1.2'
                            per: '22.1'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1995
                            stealPercent: '2.300'
                            team: CHI
                            threePAr: '0.079'
                            totalRbPercent: '10.300'
                            tsPercent: '0.493'
                            turnoverPercent: '7.000'
                            usagePercent: '33.200'
                            vorp: '1.1'
                            winShares: '2.3'
                            winSharesPer: '0.167'
                          - age: 29
                            assistPercent: '25.200'
                            blockPercent: '1.300'
                            box: '11.2'
                            defensiveBox: '2.6'
                            defensiveRbPercent: '15.100'
                            defensiveWs: '5.2'
                            ftr: '0.284'
                            games: 78
                            id: '17728'
                            minutesPlayed: 3067
                            offensiveBox: '8.7'
                            offensiveRbPercent: '4.900'
                            offensiveWs: '12.0'
                            per: '29.7'
                            playerId: jordami01
                            playerName: Michael Jordan*
                            position: SG
                            season: 1993
                            stealPercent: '3.700'
                            team: CHI
                            threePAr: '0.115'
                            totalRbPercent: '9.800'
                            tsPercent: '0.564'
                            turnoverPercent: '8.400'
                            usagePercent: '34.700'
                            vorp: '10.2'
                            winShares: '17.2'
                            winSharesPer: '0.270'
                      playerAdvancedPlayoffs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '3762'
                            playerName:
                              type: string
                              example: Chauncey Billups
                            position:
                              type: string
                              example: PG
                            season:
                              type: number
                              example: 2005
                            team:
                              type: string
                              example: DET
                            winShares:
                              type: string
                              example: '4.6'
                        example:
                          - id: '3762'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2005
                            team: DET
                            winShares: '4.6'
                          - id: '778'
                            playerName: LeBron James
                            position: PG
                            season: 2020
                            team: LAL
                            winShares: '4.3'
                          - id: '1792'
                            playerName: Stephen Curry
                            position: PG
                            season: 2015
                            team: GSW
                            winShares: '3.9'
                          - id: '3953'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2004
                            team: DET
                            winShares: '3.7'
                          - id: '1617'
                            playerName: Kyrie Irving
                            position: PG
                            season: 2016
                            team: CLE
                            winShares: '3.4'
                          - id: '1354'
                            playerName: Stephen Curry
                            position: PG
                            season: 2017
                            team: GSW
                            winShares: '3.4'
                          - id: '932'
                            playerName: Stephen Curry
                            position: PG
                            season: 2019
                            team: GSW
                            winShares: '3.3'
                          - id: '2981'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2009
                            team: DEN
                            winShares: '3.2'
                          - id: '275'
                            playerName: Stephen Curry
                            position: PG
                            season: 2022
                            team: GSW
                            winShares: '3.2'
                          - id: '5410'
                            playerName: John Stockton*
                            position: PG
                            season: 1997
                            team: UTA
                            winShares: '3.1'
                          - id: '5557'
                            playerName: Gary Payton*
                            position: PG
                            season: 1996
                            team: SEA
                            winShares: '3.1'
                          - id: '146'
                            playerName: Jamal Murray
                            position: PG
                            season: 2023
                            team: DEN
                            winShares: '3.0'
                          - id: '3305'
                            playerName: Chris Paul
                            position: PG
                            season: 2008
                            team: NOH
                            winShares: '2.9'
                          - id: '1730'
                            playerName: Russell Westbrook
                            position: PG
                            season: 2016
                            team: OKC
                            winShares: '2.9'
                          - id: '1015'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2019
                            team: TOR
                            winShares: '2.8'
                          - id: '3567'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2006
                            team: DET
                            winShares: '2.7'
                          - id: '822'
                            playerName: Jamal Murray
                            position: PG
                            season: 2020
                            team: DEN
                            winShares: '2.7'
                          - id: '2923'
                            playerName: Rajon Rondo
                            position: PG
                            season: 2010
                            team: BOS
                            winShares: '2.7'
                          - id: '4207'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2003
                            team: NJN
                            winShares: '2.6'
                          - id: '3677'
                            playerName: Steve Nash*
                            position: PG
                            season: 2006
                            team: PHO
                            winShares: '2.6'
                          - id: '2529'
                            playerName: Rajon Rondo
                            position: PG
                            season: 2012
                            team: BOS
                            winShares: '2.6'
                          - id: '4557'
                            playerName: Derek Fisher
                            position: PG
                            season: 2001
                            team: LAL
                            winShares: '2.5'
                          - id: '620'
                            playerName: Chris Paul
                            position: PG
                            season: 2021
                            team: PHO
                            winShares: '2.5'
                          - id: '3381'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2007
                            team: DET
                            winShares: '2.5'
                          - id: '2147'
                            playerName: Russell Westbrook
                            position: PG
                            season: 2014
                            team: OKC
                            winShares: '2.5'
                          - id: '5696'
                            playerName: Anfernee Hardaway
                            position: PG
                            season: 1995
                            team: ORL
                            winShares: '2.4'
                          - id: '2310'
                            playerName: Tony Parker*
                            position: PG
                            season: 2013
                            team: SAS
                            winShares: '2.4'
                          - id: '4395'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2002
                            team: NJN
                            winShares: '2.3'
                          - id: '3409'
                            playerName: Baron Davis
                            position: PG
                            season: 2007
                            team: GSW
                            winShares: '2.3'
                          - id: '1897'
                            playerName: Chris Paul
                            position: PG
                            season: 2015
                            team: LAC
                            winShares: '2.3'
                          - id: '1271'
                            playerName: Terry Rozier
                            position: PG
                            season: 2018
                            team: BOS
                            winShares: '2.2'
                          - id: '5223'
                            playerName: John Stockton*
                            position: PG
                            season: 1998
                            team: UTA
                            winShares: '2.2'
                          - id: '5602'
                            playerName: John Stockton*
                            position: PG
                            season: 1996
                            team: UTA
                            winShares: '2.2'
                          - id: '2724'
                            playerName: Derrick Rose
                            position: PG
                            season: 2011
                            team: CHI
                            winShares: '2.2'
                          - id: '2897'
                            playerName: Jameer Nelson
                            position: PG
                            season: 2010
                            team: ORL
                            winShares: '2.2'
                          - id: '3321'
                            playerName: Rajon Rondo
                            position: PG
                            season: 2008
                            team: BOS
                            winShares: '2.1'
                          - id: '3469'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2007
                            team: NJN
                            winShares: '2.1'
                          - id: '30'
                            playerName: Jalen Brunson
                            position: PG
                            season: 2023
                            team: NYK
                            winShares: '2.1'
                          - id: '3870'
                            playerName: Steve Nash*
                            position: PG
                            season: 2005
                            team: PHO
                            winShares: '2.1'
                          - id: '537'
                            playerName: Jrue Holiday
                            position: PG
                            season: 2021
                            team: MIL
                            winShares: '2.1'
                          - id: '2558'
                            playerName: Russell Westbrook
                            position: PG
                            season: 2012
                            team: OKC
                            winShares: '2.1'
                          - id: '1261'
                            playerName: Chris Paul
                            position: PG
                            season: 2018
                            team: HOU
                            winShares: '2.1'
                          - id: '2403'
                            playerName: Mario Chalmers
                            position: PG
                            season: 2012
                            team: MIA
                            winShares: '2.1'
                          - id: '1149'
                            playerName: Stephen Curry
                            position: PG
                            season: 2018
                            team: GSW
                            winShares: '2.1'
                          - id: '4325'
                            playerName: Mike Bibby
                            position: PG
                            season: 2002
                            team: SAC
                            winShares: '2.0'
                          - id: '3182'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2008
                            team: DET
                            winShares: '2.0'
                          - id: '1841'
                            playerName: Kyrie Irving
                            position: PG
                            season: 2015
                            team: CLE
                            winShares: '2.0'
                          - id: '5306'
                            playerName: Ron Harper
                            position: PG
                            season: 1997
                            team: CHI
                            winShares: '2.0'
                          - id: '5884'
                            playerName: Derek Harper
                            position: PG
                            season: 1994
                            team: NYK
                            winShares: '2.0'
                          - id: '2896'
                            playerName: Steve Nash*
                            position: PG
                            season: 2010
                            team: PHO
                            winShares: '2.0'
                          - id: '1407'
                            playerName: Kyrie Irving
                            position: PG
                            season: 2017
                            team: CLE
                            winShares: '2.0'
                          - id: '1564'
                            playerName: Stephen Curry
                            position: PG
                            season: 2016
                            team: GSW
                            winShares: '1.9'
                          - id: '2676'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2011
                            team: DAL
                            winShares: '1.9'
                          - id: '4541'
                            playerName: Baron Davis
                            position: PG
                            season: 2001
                            team: CHH
                            winShares: '1.9'
                          - id: '5709'
                            playerName: Kevin Johnson
                            position: PG
                            season: 1995
                            team: PHO
                            winShares: '1.9'
                          - id: '280'
                            playerName: Luka Dončić
                            position: PG
                            season: 2022
                            team: DAL
                            winShares: '1.9'
                          - id: '980'
                            playerName: George Hill
                            position: PG
                            season: 2019
                            team: MIL
                            winShares: '1.9'
                          - id: '3354'
                            playerName: Deron Williams
                            position: PG
                            season: 2008
                            team: UTA
                            winShares: '1.9'
                          - id: '877'
                            playerName: Kemba Walker
                            position: PG
                            season: 2020
                            team: BOS
                            winShares: '1.9'
                          - id: '2105'
                            playerName: Chris Paul
                            position: PG
                            season: 2014
                            team: LAC
                            winShares: '1.9'
                          - id: '5500'
                            playerName: Anfernee Hardaway
                            position: PG
                            season: 1996
                            team: ORL
                            winShares: '1.9'
                          - id: '4857'
                            playerName: Charlie Ward
                            position: PG
                            season: 2000
                            team: NYK
                            winShares: '1.9'
                          - id: '3717'
                            playerName: Jason Terry
                            position: PG
                            season: 2006
                            team: DAL
                            winShares: '1.9'
                          - id: '5976'
                            playerName: John Stockton*
                            position: PG
                            season: 1994
                            team: UTA
                            winShares: '1.8'
                          - id: '5503'
                            playerName: Ron Harper
                            position: PG
                            season: 1996
                            team: CHI
                            winShares: '1.8'
                          - id: '380'
                            playerName: Chris Paul
                            position: PG
                            season: 2022
                            team: PHO
                            winShares: '1.8'
                          - id: '3430'
                            playerName: Daniel Gibson
                            position: PG
                            season: 2007
                            team: CLE
                            winShares: '1.8'
                          - id: '3219'
                            playerName: Derek Fisher
                            position: PG
                            season: 2008
                            team: LAL
                            winShares: '1.8'
                          - id: '5707'
                            playerName: Avery Johnson
                            position: PG
                            season: 1995
                            team: SAS
                            winShares: '1.8'
                          - id: '529'
                            playerName: James Harden
                            position: PG
                            season: 2021
                            team: BRK
                            winShares: '1.8'
                          - id: '6001'
                            playerName: B.J. Armstrong
                            position: PG
                            season: 1993
                            team: CHI
                            winShares: '1.8'
                          - id: '2249'
                            playerName: George Hill
                            position: PG
                            season: 2013
                            team: IND
                            winShares: '1.8'
                          - id: '4955'
                            playerName: Mark Jackson
                            position: PG
                            season: 1999
                            team: IND
                            winShares: '1.7'
                          - id: '5305'
                            playerName: Tim Hardaway*
                            position: PG
                            season: 1997
                            team: MIA
                            winShares: '1.7'
                          - id: '2205'
                            playerName: Stephen Curry
                            position: PG
                            season: 2013
                            team: GSW
                            winShares: '1.7'
                          - id: '3304'
                            playerName: Tony Parker*
                            position: PG
                            season: 2008
                            team: SAS
                            winShares: '1.7'
                          - id: '970'
                            playerName: James Harden
                            position: PG
                            season: 2019
                            team: HOU
                            winShares: '1.7'
                          - id: '3841'
                            playerName: Damon Jones
                            position: PG
                            season: 2005
                            team: MIA
                            winShares: '1.7'
                          - id: '4236'
                            playerName: Steve Nash*
                            position: PG
                            season: 2003
                            team: DAL
                            winShares: '1.7'
                          - id: '5969'
                            playerName: Kenny Smith
                            position: PG
                            season: 1994
                            team: HOU
                            winShares: '1.7'
                          - id: '1010'
                            playerName: Damian Lillard
                            position: PG
                            season: 2019
                            team: POR
                            winShares: '1.6'
                          - id: '186'
                            playerName: Marcus Smart
                            position: PG
                            season: 2023
                            team: BOS
                            winShares: '1.6'
                          - id: '3503'
                            playerName: Tony Parker*
                            position: PG
                            season: 2007
                            team: SAS
                            winShares: '1.6'
                          - id: '3117'
                            playerName: Rajon Rondo
                            position: PG
                            season: 2009
                            team: BOS
                            winShares: '1.6'
                          - id: '2953'
                            playerName: Deron Williams
                            position: PG
                            season: 2010
                            team: UTA
                            winShares: '1.6'
                          - id: '6085'
                            playerName: Kevin Johnson
                            position: PG
                            season: 1993
                            team: PHO
                            winShares: '1.6'
                          - id: '3547'
                            playerName: Deron Williams
                            position: PG
                            season: 2007
                            team: UTA
                            winShares: '1.5'
                          - id: '398'
                            playerName: Marcus Smart
                            position: PG
                            season: 2022
                            team: BOS
                            winShares: '1.5'
                          - id: '5374'
                            playerName: Gary Payton*
                            position: PG
                            season: 1997
                            team: SEA
                            winShares: '1.5'
                          - id: '2044'
                            playerName: George Hill
                            position: PG
                            season: 2014
                            team: IND
                            winShares: '1.5'
                          - id: '2466'
                            playerName: Jrue Holiday
                            position: PG
                            season: 2012
                            team: PHI
                            winShares: '1.5'
                          - id: '4765'
                            playerName: Mark Jackson
                            position: PG
                            season: 2000
                            team: IND
                            winShares: '1.5'
                          - id: '575'
                            playerName: Damian Lillard
                            position: PG
                            season: 2021
                            team: POR
                            winShares: '1.5'
                          - id: '2200'
                            playerName: Mike Conley
                            position: PG
                            season: 2013
                            team: MEM
                            winShares: '1.5'
                          - id: '4139'
                            playerName: Chauncey Billups
                            position: PG
                            season: 2003
                            team: DET
                            winShares: '1.5'
                          - id: '3968'
                            playerName: Sam Cassell
                            position: PG
                            season: 2004
                            team: MIN
                            winShares: '1.5'
                          - id: '3952'
                            playerName: Mike Bibby
                            position: PG
                            season: 2004
                            team: SAC
                            winShares: '1.5'
                          - id: '4958'
                            playerName: Avery Johnson
                            position: PG
                            season: 1999
                            team: SAS
                            winShares: '1.5'
                          - id: '5124'
                            playerName: Ron Harper
                            position: PG
                            season: 1998
                            team: CHI
                            winShares: '1.5'
                          - id: '5188'
                            playerName: Gary Payton*
                            position: PG
                            season: 1998
                            team: SEA
                            winShares: '1.5'
                          - id: '6138'
                            playerName: Doc Rivers
                            position: PG
                            season: 1993
                            team: NYK
                            winShares: '1.4'
                          - id: '1513'
                            playerName: John Wall
                            position: PG
                            season: 2017
                            team: WAS
                            winShares: '1.4'
                          - id: '5781'
                            playerName: Kenny Smith
                            position: PG
                            season: 1995
                            team: HOU
                            winShares: '1.4'
                          - id: '2826'
                            playerName: Derek Fisher
                            position: PG
                            season: 2010
                            team: LAL
                            winShares: '1.4'
                          - id: '2515'
                            playerName: Tony Parker*
                            position: PG
                            season: 2012
                            team: SAS
                            winShares: '1.4'
                          - id: '672'
                            playerName: Trae Young
                            position: PG
                            season: 2021
                            team: ATL
                            winShares: '1.4'
                          - id: '4164'
                            playerName: Tony Delk
                            position: PG
                            season: 2003
                            team: BOS
                            winShares: '1.4'
                          - id: '1071'
                            playerName: Ben Simmons
                            position: PG
                            season: 2019
                            team: PHI
                            winShares: '1.4'
                          - id: '5138'
                            playerName: Avery Johnson
                            position: PG
                            season: 1998
                            team: SAS
                            winShares: '1.4'
                          - id: '3785'
                            playerName: Antonio Daniels
                            position: PG
                            season: 2005
                            team: SEA
                            winShares: '1.4'
                          - id: '5706'
                            playerName: Mark Jackson
                            position: PG
                            season: 1995
                            team: IND
                            winShares: '1.4'
                          - id: '5653'
                            playerName: Sam Cassell
                            position: PG
                            season: 1995
                            team: HOU
                            winShares: '1.4'
                          - id: '5526'
                            playerName: Steve Kerr
                            position: PG
                            season: 1996
                            team: CHI
                            winShares: '1.4'
                          - id: '3915'
                            playerName: Jason Terry
                            position: PG
                            season: 2005
                            team: DAL
                            winShares: '1.4'
                          - id: '3491'
                            playerName: Steve Nash*
                            position: PG
                            season: 2007
                            team: PHO
                            winShares: '1.4'
                          - id: '5697'
                            playerName: Derek Harper
                            position: PG
                            season: 1995
                            team: NYK
                            winShares: '1.4'
                          - id: '644'
                            playerName: Ben Simmons
                            position: PG
                            season: 2021
                            team: PHI
                            winShares: '1.4'
                          - id: '4368'
                            playerName: Derek Fisher
                            position: PG
                            season: 2002
                            team: LAL
                            winShares: '1.3'
                          - id: '48'
                            playerName: Stephen Curry
                            position: PG
                            season: 2023
                            team: GSW
                            winShares: '1.3'
                          - id: '1465'
                            playerName: Chris Paul
                            position: PG
                            season: 2017
                            team: LAC
                            winShares: '1.3'
                          - id: '3558'
                            playerName: Gilbert Arenas
                            position: PG
                            season: 2006
                            team: WAS
                            winShares: '1.3'
                          - id: '5148'
                            playerName: Steve Kerr
                            position: PG
                            season: 1998
                            team: CHI
                            winShares: '1.3'
                          - id: '5816'
                            playerName: B.J. Armstrong
                            position: PG
                            season: 1994
                            team: CHI
                            winShares: '1.3'
                          - id: '4539'
                            playerName: Antonio Daniels
                            position: PG
                            season: 2001
                            team: SAS
                            winShares: '1.3'
                          - id: '5797'
                            playerName: Nick Van Exel
                            position: PG
                            season: 1995
                            team: LAL
                            winShares: '1.3'
                          - id: '3742'
                            playerName: Jason Williams
                            position: PG
                            season: 2006
                            team: MIA
                            winShares: '1.3'
                          - id: '1039'
                            playerName: Jamal Murray
                            position: PG
                            season: 2019
                            team: DEN
                            winShares: '1.3'
                          - id: '362'
                            playerName: Ja Morant
                            position: PG
                            season: 2022
                            team: MEM
                            winShares: '1.3'
                          - id: '1390'
                            playerName: James Harden
                            position: PG
                            season: 2017
                            team: HOU
                            winShares: '1.3'
                          - id: '2076'
                            playerName: Damian Lillard
                            position: PG
                            season: 2014
                            team: POR
                            winShares: '1.3'
                          - id: '799'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2020
                            team: TOR
                            winShares: '1.3'
                          - id: '2710'
                            playerName: Chris Paul
                            position: PG
                            season: 2011
                            team: NOH
                            winShares: '1.3'
                          - id: '348'
                            playerName: Tyrese Maxey
                            position: PG
                            season: 2022
                            team: PHI
                            winShares: '1.3'
                          - id: '596'
                            playerName: Donovan Mitchell
                            position: PG
                            season: 2021
                            team: UTA
                            winShares: '1.2'
                          - id: '3291'
                            playerName: Jameer Nelson
                            position: PG
                            season: 2008
                            team: ORL
                            winShares: '1.2'
                          - id: '1643'
                            playerName: Shaun Livingston
                            position: PG
                            season: 2016
                            team: GSW
                            winShares: '1.2'
                          - id: '4698'
                            playerName: Travis Best
                            position: PG
                            season: 2000
                            team: IND
                            winShares: '1.2'
                          - id: '4091'
                            playerName: Jamaal Tinsley
                            position: PG
                            season: 2004
                            team: IND
                            winShares: '1.2'
                          - id: '5047'
                            playerName: Charlie Ward
                            position: PG
                            season: 1999
                            team: NYK
                            winShares: '1.2'
                          - id: '3582'
                            playerName: Sam Cassell
                            position: PG
                            season: 2006
                            team: LAC
                            winShares: '1.2'
                          - id: '5900'
                            playerName: Kevin Johnson
                            position: PG
                            season: 1994
                            team: PHO
                            winShares: '1.2'
                          - id: '3154'
                            playerName: Mo Williams
                            position: PG
                            season: 2009
                            team: CLE
                            winShares: '1.2'
                          - id: '2223'
                            playerName: Raymond Felton
                            position: PG
                            season: 2013
                            team: NYK
                            winShares: '1.2'
                          - id: '5137'
                            playerName: Mark Jackson
                            position: PG
                            season: 1998
                            team: IND
                            winShares: '1.2'
                          - id: '851'
                            playerName: Rajon Rondo
                            position: PG
                            season: 2020
                            team: LAL
                            winShares: '1.2'
                          - id: '4529'
                            playerName: Sam Cassell
                            position: PG
                            season: 2001
                            team: MIL
                            winShares: '1.2'
                          - id: '1645'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2016
                            team: TOR
                            winShares: '1.2'
                          - id: '122'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2023
                            team: MIA
                            winShares: '1.2'
                          - id: '2312'
                            playerName: Chris Paul
                            position: PG
                            season: 2013
                            team: LAC
                            winShares: '1.2'
                          - id: '2608'
                            playerName: Mario Chalmers
                            position: PG
                            season: 2011
                            team: MIA
                            winShares: '1.2'
                          - id: '2463'
                            playerName: George Hill
                            position: PG
                            season: 2012
                            team: IND
                            winShares: '1.2'
                          - id: '5304'
                            playerName: Anfernee Hardaway
                            position: PG
                            season: 1997
                            team: ORL
                            winShares: '1.1'
                          - id: '4355'
                            playerName: Baron Davis
                            position: PG
                            season: 2002
                            team: CHH
                            winShares: '1.1'
                          - id: '279'
                            playerName: Spencer Dinwiddie
                            position: PG
                            season: 2022
                            team: DAL
                            winShares: '1.1'
                          - id: '4247'
                            playerName: Tony Parker*
                            position: PG
                            season: 2003
                            team: SAS
                            winShares: '1.1'
                          - id: '549'
                            playerName: Kyrie Irving
                            position: PG
                            season: 2021
                            team: BRK
                            winShares: '1.1'
                          - id: '5840'
                            playerName: Sam Cassell
                            position: PG
                            season: 1994
                            team: HOU
                            winShares: '1.1'
                          - id: '5546'
                            playerName: Nate McMillan
                            position: PG
                            season: 1996
                            team: SEA
                            winShares: '1.1'
                          - id: '1050'
                            playerName: Chris Paul
                            position: PG
                            season: 2019
                            team: HOU
                            winShares: '1.1'
                          - id: '1090'
                            playerName: Fred VanVleet
                            position: PG
                            season: 2019
                            team: TOR
                            winShares: '1.1'
                          - id: '6126'
                            playerName: John Paxson
                            position: PG
                            season: 1993
                            team: CHI
                            winShares: '1.1'
                          - id: '4021'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2004
                            team: NJN
                            winShares: '1.1'
                          - id: '1221'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2018
                            team: TOR
                            winShares: '1.1'
                          - id: '4097'
                            playerName: Dwyane Wade*
                            position: PG
                            season: 2004
                            team: MIA
                            winShares: '1.1'
                          - id: '1641'
                            playerName: Damian Lillard
                            position: PG
                            season: 2016
                            team: POR
                            winShares: '1.1'
                          - id: '3692'
                            playerName: Gary Payton*
                            position: PG
                            season: 2006
                            team: MIA
                            winShares: '1.1'
                          - id: '4170'
                            playerName: Derek Fisher
                            position: PG
                            season: 2003
                            team: LAL
                            winShares: '1.1'
                          - id: '4755'
                            playerName: Ron Harper
                            position: PG
                            season: 2000
                            team: LAL
                            winShares: '1.1'
                          - id: '2754'
                            playerName: Russell Westbrook
                            position: PG
                            season: 2011
                            team: OKC
                            winShares: '1.1'
                          - id: '2090'
                            playerName: Patty Mills
                            position: PG
                            season: 2014
                            team: SAS
                            winShares: '1.1'
                          - id: '2102'
                            playerName: Tony Parker*
                            position: PG
                            season: 2014
                            team: SAS
                            winShares: '1.1'
                          - id: '303'
                            playerName: James Harden
                            position: PG
                            season: 2022
                            team: PHI
                            winShares: '1.1'
                          - id: '5328'
                            playerName: Steve Kerr
                            position: PG
                            season: 1997
                            team: CHI
                            winShares: '1.0'
                          - id: '4060'
                            playerName: Gary Payton*
                            position: PG
                            season: 2004
                            team: LAL
                            winShares: '1.0'
                          - id: '4059'
                            playerName: Tony Parker*
                            position: PG
                            season: 2004
                            team: SAS
                            winShares: '1.0'
                          - id: '1572'
                            playerName: Goran Dragić
                            position: PG
                            season: 2016
                            team: MIA
                            winShares: '1.0'
                          - id: '4273'
                            playerName: Eric Snow
                            position: PG
                            season: 2003
                            team: PHI
                            winShares: '1.0'
                          - id: '4840'
                            playerName: John Stockton*
                            position: PG
                            season: 2000
                            team: UTA
                            winShares: '1.0'
                          - id: '2488'
                            playerName: Ty Lawson
                            position: PG
                            season: 2012
                            team: DEN
                            winShares: '1.0'
                          - id: '2408'
                            playerName: Darren Collison
                            position: PG
                            season: 2012
                            team: IND
                            winShares: '1.0'
                          - id: '1349'
                            playerName: Mike Conley
                            position: PG
                            season: 2017
                            team: MEM
                            winShares: '1.0'
                          - id: '1483'
                            playerName: Dennis Schröder
                            position: PG
                            season: 2017
                            team: ATL
                            winShares: '1.0'
                          - id: '2194'
                            playerName: Mario Chalmers
                            position: PG
                            season: 2013
                            team: MIA
                            winShares: '1.0'
                          - id: '3056'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2009
                            team: DAL
                            winShares: '1.0'
                          - id: '3653'
                            playerName: Jason Kidd*
                            position: PG
                            season: 2006
                            team: NJN
                            winShares: '1.0'
                          - id: '820'
                            playerName: Monte Morris
                            position: PG
                            season: 2020
                            team: DEN
                            winShares: '1.0'
                          - id: '4195'
                            playerName: Bobby Jackson
                            position: PG
                            season: 2003
                            team: SAC
                            winShares: '1.0'
                          - id: '75'
                            playerName: James Harden
                            position: PG
                            season: 2023
                            team: PHI
                            winShares: '1.0'
                          - id: '6151'
                            playerName: Kenny Smith
                            position: PG
                            season: 1993
                            team: HOU
                            winShares: '1.0'
                          - id: '2261'
                            playerName: Reggie Jackson
                            position: PG
                            season: 2013
                            team: OKC
                            winShares: '1.0'
                          - id: '2359'
                            playerName: Deron Williams
                            position: PG
                            season: 2013
                            team: BRK
                            winShares: '1.0'
                          - id: '1930'
                            playerName: Jeff Teague
                            position: PG
                            season: 2015
                            team: ATL
                            winShares: '1.0'
                          - id: '4384'
                            playerName: Bobby Jackson
                            position: PG
                            season: 2002
                            team: SAC
                            winShares: '1.0'
                          - id: '1867'
                            playerName: Shaun Livingston
                            position: PG
                            season: 2015
                            team: GSW
                            winShares: '0.9'
                          - id: '3975'
                            playerName: Baron Davis
                            position: PG
                            season: 2004
                            team: NOH
                            winShares: '0.9'
                          - id: '711'
                            playerName: Mike Conley
                            position: PG
                            season: 2020
                            team: UTA
                            winShares: '0.9'
                          - id: '1218'
                            playerName: Shaun Livingston
                            position: PG
                            season: 2018
                            team: GSW
                            winShares: '0.9'
                          - id: '2198'
                            playerName: Norris Cole
                            position: PG
                            season: 2013
                            team: MIA
                            winShares: '0.9'
                          - id: '2988'
                            playerName: Aaron Brooks
                            position: PG
                            season: 2009
                            team: HOU
                            winShares: '0.9'
                          - id: '1605'
                            playerName: George Hill
                            position: PG
                            season: 2016
                            team: IND
                            winShares: '0.9'
                          - id: '4314'
                            playerName: Kenny Anderson
                            position: PG
                            season: 2002
                            team: BOS
                            winShares: '0.9'
                          - id: '4277'
                            playerName: Damon Stoudamire
                            position: PG
                            season: 2003
                            team: POR
                            winShares: '0.9'
                          - id: '5994'
                            playerName: Haywoode Workman
                            position: PG
                            season: 1994
                            team: IND
                            winShares: '0.9'
                          - id: '3015'
                            playerName: Derek Fisher
                            position: PG
                            season: 2009
                            team: LAL
                            winShares: '0.9'
                          - id: '2952'
                            playerName: Russell Westbrook
                            position: PG
                            season: 2010
                            team: OKC
                            winShares: '0.9'
                          - id: '2516'
                            playerName: Chris Paul
                            position: PG
                            season: 2012
                            team: LAC
                            winShares: '0.9'
                          - id: '5826'
                            playerName: Mookie Blaylock
                            position: PG
                            season: 1994
                            team: ATL
                            winShares: '0.9'
                          - id: '3352'
                            playerName: Delonte West
                            position: PG
                            season: 2008
                            team: CLE
                            winShares: '0.9'
                          - id: '389'
                            playerName: Payton Pritchard
                            position: PG
                            season: 2022
                            team: BOS
                            winShares: '0.8'
                          - id: '5449'
                            playerName: Mookie Blaylock
                            position: PG
                            season: 1996
                            team: ATL
                            winShares: '0.8'
                          - id: '1911'
                            playerName: Derrick Rose
                            position: PG
                            season: 2015
                            team: CHI
                            winShares: '0.8'
                          - id: '4738'
                            playerName: Derek Fisher
                            position: PG
                            season: 2000
                            team: LAL
                            winShares: '0.8'
                          - id: '6112'
                            playerName: Nate McMillan
                            position: PG
                            season: 1993
                            team: SEA
                            winShares: '0.8'
                          - id: '4154'
                            playerName: Speedy Claxton
                            position: PG
                            season: 2003
                            team: SAS
                            winShares: '0.8'
                          - id: '3038'
                            playerName: Eddie House
                            position: PG
                            season: 2009
                            team: BOS
                            winShares: '0.8'
                          - id: '3643'
                            playerName: Anthony Johnson
                            position: PG
                            season: 2006
                            team: IND
                            winShares: '0.8'
                          - id: '4842'
                            playerName: Damon Stoudamire
                            position: PG
                            season: 2000
                            team: POR
                            winShares: '0.8'
                          - id: '5632'
                            playerName: B.J. Armstrong
                            position: PG
                            season: 1995
                            team: CHI
                            winShares: '0.8'
                          - id: '1185'
                            playerName: George Hill
                            position: PG
                            season: 2018
                            team: CLE
                            winShares: '0.8'
                          - id: '5291'
                            playerName: Howard Eisley
                            position: PG
                            season: 1997
                            team: UTA
                            winShares: '0.8'
                          - id: '2980'
                            playerName: Mike Bibby
                            position: PG
                            season: 2009
                            team: ATL
                            winShares: '0.8'
                          - id: '5278'
                            playerName: Chris Childs
                            position: PG
                            season: 1997
                            team: NYK
                            winShares: '0.8'
                          - id: '3336'
                            playerName: Rodney Stuckey
                            position: PG
                            season: 2008
                            team: DET
                            winShares: '0.8'
                          - id: '703'
                            playerName: Alex Caruso
                            position: PG
                            season: 2020
                            team: LAL
                            winShares: '0.8'
                          - id: '2317'
                            playerName: Pablo Prigioni
                            position: PG
                            season: 2013
                            team: NYK
                            winShares: '0.8'
                          - id: '1278'
                            playerName: Ben Simmons
                            position: PG
                            season: 2018
                            team: PHI
                            winShares: '0.8'
                          - id: '5233'
                            playerName: Charlie Ward
                            position: PG
                            season: 1998
                            team: NYK
                            winShares: '0.8'
                          - id: '839'
                            playerName: Chris Paul
                            position: PG
                            season: 2020
                            team: OKC
                            winShares: '0.8'
                          - id: '4665'
                            playerName: John Stockton*
                            position: PG
                            season: 2001
                            team: UTA
                            winShares: '0.8'
                          - id: '4014'
                            playerName: Anthony Johnson
                            position: PG
                            season: 2004
                            team: IND
                            winShares: '0.8'
                          - id: '463'
                            playerName: Bruce Brown
                            position: PG
                            season: 2021
                            team: BRK
                            winShares: '0.8'
                          - id: '452'
                            playerName: Patrick Beverley
                            position: PG
                            season: 2021
                            team: LAC
                            winShares: '0.8'
                          - id: '5123'
                            playerName: Tim Hardaway*
                            position: PG
                            season: 1998
                            team: MIA
                            winShares: '0.8'
                          - id: '2410'
                            playerName: Mike Conley
                            position: PG
                            season: 2012
                            team: MEM
                            winShares: '0.8'
                          - id: '1501'
                            playerName: Isaiah Thomas
                            position: PG
                            season: 2017
                            team: BOS
                            winShares: '0.8'
                          - id: '2000'
                            playerName: Stephen Curry
                            position: PG
                            season: 2014
                            team: GSW
                            winShares: '0.8'
                          - id: '1944'
                            playerName: John Wall
                            position: PG
                            season: 2015
                            team: WAS
                            winShares: '0.8'
                          - id: '727'
                            playerName: Goran Dragić
                            position: PG
                            season: 2020
                            team: MIA
                            winShares: '0.8'
                          - id: '5035'
                            playerName: John Stockton*
                            position: PG
                            season: 1999
                            team: UTA
                            winShares: '0.8'
                          - id: '6012'
                            playerName: Muggsy Bogues
                            position: PG
                            season: 1993
                            team: CHH
                            winShares: '0.8'
                          - id: '2582'
                            playerName: J.J. Barea
                            position: PG
                            season: 2011
                            team: DAL
                            winShares: '0.8'
                          - id: '1680'
                            playerName: Chris Paul
                            position: PG
                            season: 2016
                            team: LAC
                            winShares: '0.8'
                          - id: '2387'
                            playerName: Eric Bledsoe
                            position: PG
                            season: 2012
                            team: LAC
                            winShares: '0.7'
                          - id: '2051'
                            playerName: Reggie Jackson
                            position: PG
                            season: 2014
                            team: OKC
                            winShares: '0.7'
                          - id: '621'
                            playerName: Cameron Payne
                            position: PG
                            season: 2021
                            team: PHO
                            winShares: '0.7'
                          - id: '4468'
                            playerName: John Stockton*
                            position: PG
                            season: 2002
                            team: UTA
                            winShares: '0.7'
                          - id: '4704'
                            playerName: Terrell Brandon
                            position: PG
                            season: 2000
                            team: MIN
                            winShares: '0.7'
                          - id: '2546'
                            playerName: Jeff Teague
                            position: PG
                            season: 2012
                            team: ATL
                            winShares: '0.7'
                          - id: '1430'
                            playerName: Kyle Lowry
                            position: PG
                            season: 2017
                            team: TOR
                            winShares: '0.7'
                          - id: '2739'
                            playerName: Jeff Teague
                            position: PG
                            season: 2011
                            team: ATL
                            winShares: '0.7'
                          - id: '5762'
                            playerName: Doc Rivers
                            position: PG
                            season: 1995
                            team: SAS
                            winShares: '0.7'
                          - id: '3226'
                            playerName: Daniel Gibson
                            position: PG
                            season: 2008
                            team: CLE
                            winShares: '0.7'
                          - id: '4811'
                            playerName: Gary Payton*
                            position: PG
                            season: 2000
                            team: SEA
                            winShares: '0.7'
                          - id: '4716'
                            playerName: Chris Childs
                            position: PG
                            season: 2000
                            team: NYK
                            winShares: '0.7'
                          - id: '4427'
                            playerName: Steve Nash*
                            position: PG
                            season: 2002
[...]
